.sidebar {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  padding-top: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f9fa;
  transition: all 0.3s;
}

.sidebar-sticky {
  top: 4rem;
  z-index: 2;
  padding: 0.5rem 1rem 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: #f2f2f2;
  color: #007bff;
}

.dropdown-toggle {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  min-width: 10rem;
  padding: 0.5rem 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  z-index: 1;
}

.dropdown-item {
  padding: 0.25rem 1.5rem;
  font-size: 0.875rem;
  color: #333;
  transition: all 0.3s;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
  color: #007bff;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #007bff;
  color: #fff;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    width: 200px;
    transition: none;
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
}

.sub-menu {
  display: none;
}

.show {
  display: block;
}

.adminstyle .card {
  padding-left: 200px;
}
