.admin-page {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  padding-left: 200px;
}

.admin-page-sidebar {
  position: fixed;
  width: 200px;
}

.chart-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 800px;
  height: 500px;
}
