.admin-page {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  padding-left: 100px;
}

.admin-page-sidebar {
  position: fixed;
  width: 200px;
}

.chart-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 1700px; 
  margin: 0 auto; /* 가운데 정렬 */
  height: 500px;

}

