.admin-dashboard-container {
  padding-left: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}

.admin-dashboard-item {
  border: 1px solid #ccc;
  padding: 20px;
  width: 800px; 
   height: 500px;

  
}


