.pawtens {
    width: 100%;
    float: left;
}

.pawtens .pawtensItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pawtens .pawtensItem video {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.pawtens .pawtensItem .profile {
    width: 80px;
    object-fit: cover;
}

.pawtens .slick-slide .pawtens-like img {
    display: inherit !important;
}

/* slick carousel css  */
.pawtens .slick-prev:before, .slick-next:before {
    font-size: 37px !important;
    color: gray !important;
}

.pawtens .slick-prev {
    left: -42px !important;
}

/* 포텐스 작성 */
.createPawtens .filePreview {
    margin-top: 20px;
}